<main>
  <div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 75vh;">
    <div class="absolute top-0 w-full h-full bg-center bg-cover"
      style='background-image: url("../../././../assets/img/i1.jpg");'>
      <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1 class="text-white font-semibold text-5xl">
              Classification Modele Supplier Potential
            </h1>
           
          </div>
        </div>
      </div>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
      style="height: 70px;">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <section class="pb-20 bg-gray-300 -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                <i class="fas fa-award"></i>
              </div>
              <h6 class="text-xl font-semibold"> Enhanced Decision-Making</h6>
              <p class="mt-2 mb-4 text-gray-600">
                We focus on suppliers who show the highest potential, 
                optimizing our resources and strengthening our supply chain.

              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400">
                <i class="fas fa-retweet"></i>
              </div>
              <h6 class="text-xl font-semibold"> Improved Operational Efficiency</h6>
              <p class="mt-2 mb-4 text-gray-600">
                More Time Means More Money: By enhancing operational efficiency, we can save time and resources, 
                which in turn leads to increased profits and better outcomes
              </p>
            </div>
          </div>
        </div>
        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
                <i class="fas fa-fingerprint"></i>
              </div>
              <h6 class="text-xl font-semibold">Strategic Business Growth</h6>
              <p class="mt-2 mb-4 text-gray-600">
                Targeted Development: We invest in and develop relationships with suppliers who align with our strategic goals, 
                driving growth and innovation
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap items-center mt-32">
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
          <div
            class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100">
            <i class="fas fa-user-friends text-xl"></i>
          </div>
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            Working with us is a pleasure
          </h3>
          <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700">
            At Ozeol, we use classification models to enhance our process of selecting suppliers and clients.o
             This model helps us categorize suppliers and clients based on specific criteria,
              allowing us to make better and more accurate decisions. 
              Through this model, we can prioritize and direct our strategies more effectively, 
            which boosts our success in the market.
          </p>
        
        </div>
        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600">
            <img alt="..."
              src="../../../assets/img/i3.jpg"
              class="w-full align-middle rounded-t-lg" />
            <blockquote class="relative p-8 mb-4">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
                <polygon points="-30,95 583,95 583,65" class="text-pink-600 fill-current"></polygon>
              </svg>
              <h4 class="text-xl font-bold text-white">
                ClientPotentialBot
              </h4>
              <p class="text-md font-light mt-2 text-white">
                An advanced AI tool designed for effective supplier classification
                . It streamlines the analysis process,
                 enhancing efficiency and accuracy in assessing supplier potential.
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>
  <style>
    .analyze-button {
      background-color: white;
      color: gray;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      transition: all 0.15s ease-in-out;
      outline: none;
    }
  
    .analyze-button:hover {
      background-color: #2d3748; /* Equivalent to bg-gray-800 */
      color: white;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    .analyze-button:focus {
      outline: none;
    }
  
    .analyze-button i {
      margin-right: 0.25rem;
    }
  
    .container-center {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 1.5rem;
    }
  </style>
  <section class="pb-20 relative block bg-gray-900">
    <div class="container  px-4 lg:pt-24 flex flex-col items-center justify-center ">
      <h2 class="text-4xl font-semibold text-white mb-6">Take Your Analysis to the Next Level</h2>
      <p class="text-lg text-gray-300 mb-8 text-center max-w-lg">Start anlyse with our model Supplier client.        Click below to get started.</p>
      <button
      routerLink="/form"
      class="analyze-button"
      type="button">
      <i class="fas fa-arrow-alt-circle-down"></i> Analyze
    </button>
     </div>
  </section>
  
  
</main>
